In [1]:
import pandas as pd

In [2]:
df = pd.read_excel (r'MotsPendu.xlsx')

In [3]:
df

      sushi
0      maki
1    gourde
2    kinder
3    manger
4   carotte
5    roller
6    iphone
7    gateau
8   chomage
9   hamster
10    poule
11  bowling
12    magie
13   enfant
14  potiron

In [4]:
mots_liste = df["sushi"].tolist()

In [10]:
mots_liste

[u'maki',
 u'gourde',
 u'kinder',
 u'manger',
 u'carotte',
 u'roller',
 u'iphone',
 u'gateau',
 u'chomage',
 u'hamster',
 u'poule',
 u'bowling',
 u'magie',
 u'enfant',
 u'potiron']

In [11]:
import random

In [12]:
x=random.choice(mots_liste)

In [13]:
for element in x:
    print("_")

_
_
_
_
_
_

In [15]:
letters_to_guess=list(set([letter for letter in x]))
guessed_letters=[]

In [16]:
pendu=0

In [14]:
y=input("Propose une lettre")

In [17]:
while len(letters_to_guess)>0 and int(pendu)<10:
    if y in letters_to_guess:
     guessed_letters.extend(y)
     letters_to_guess.remove(y)
else:
    pendu=pendu+1

In [ ]:
for element in x:
    if element in guessed_letters
        print element
    else print ("_")